@property --progress {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

.progress-wrapper {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: start;
  column-gap: 0.4rem;
  position: relative;
  min-height: 1024px;
}

@media (min-width: 1024px) {
  .progress-wrapper {
    column-gap: 0.8rem;
  }
}

progress-card {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 1;
  align-self: center;
  height: calc(var(--vh, 1vh) * 40);
  position: sticky;
  top: calc(var(--vh, 1vh) * 30);
  margin-bottom: calc(var(--vh, 1vh) * 30);
  scale: calc(0.5 + var(--progress) * 0.5);
  clip-path: rect(
    calc(20% - var(--progress) * 20%) 
    calc(90% + var(--progress) * 10%) 
    calc(80% + var(--progress) * 20%) 
    calc(10% - var(--progress) * 10%)
    round calc(2.441rem - var(--progress) * 2.441rem)
  );
  transform: translateZ(0);
  overflow: hidden;
}

@media (min-width: 1024px) {
  progress-card {
    grid-column-start: 3;
    grid-column-end: 13;
    top: calc(var(--vh, 1vh) * 15);
    margin-bottom: calc(var(--vh, 1vh) * 15);
    height: calc(var(--vh, 1vh) * 70);
    clip-path: rect(
      calc(20% - var(--progress) * 20%) 
      calc(70% + var(--progress) * 30%) 
      calc(80% + var(--progress) * 20%)
      calc(30% - var(--progress) * 30%) 
      round calc(2.441rem - var(--progress) * 2.441rem)
    );
  }
}

progress-card img,
progress-card video,
progress-card > div {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
